.header {
    background-color: orange;
    color: white;
    width: 300px;
    height: 250px;
    border: 2px solid black;
    line-height: 200px;
    text-align: center;
    margin: auto;
    font-size: 24px;
}